html, body {
  overflow: hidden;
}

#header > .navbar-inner {
  padding-left: 5px;  
}


.navigation-view, .digest-view, .editor-view {
  background: #bada55;
  overflow: auto;
  height: 100%;
}

.navigation-view, .editor-view {
  padding-left: 5px;
  padding-right: 5px;
}

.footer {
  background: #f00;
  height: 20px;
}

/**************************** Splitter *********************************/
.splitpanel-horizontal { 
  float:left; 
}

.splitbar-vertical { 
  background-color: #000000; 
  width:5px; 
  height:100%; 
  float:left; 
  cursor:e-resize; 
}

/*************************** Text Selection **************************/
.disable-selection {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}