html, body {
  overflow: hidden;
}

.navigation-view, .digest-view, .editor-view {
  background: #bada55;
  overflow: auto;
  height: 100%;
}

.footer {
  background: #f00;
  height: 20px;
}

/**************************** Digest *********************************/
/*
 * Layout model:
 *     ____________.digest______________________________________________
 *    |  __________.inner______________4px___________________________   |
 *    | |       |     | Lorem ipsum - blah             |     | time  |  |
 *    |4| 32x32 | 1em |________________________________| 1em |_______|10|
 *    | | avatar|     | blah blah blah                 |     | msgs  |  |
 *    | |_______|_____|________________________________|_____|_______|  |
 *    |________________________________4px______________________________|
 *    |=============(border)============================================|
 */
.digest {
  min-width: 100px;
  padding: 4px 10px 4px 4px; /* 4px padding, but a bit extra on the RHS. */
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: grey;
}

.digest:hover {
  background-color: #eee;
}

.digest.selected {
  background-color: #789e35;
  color: white;  
}

.inner {
  line-height: 16px;
  height: 32px;  /* Exactly 2 lines of text. */
  overflow: hidden;
}

.avatars {
  float: left;
  margin-right: 1em;
  width: 36px;  /* (32 + 4) x 1. */
}

.avatar {
  float: left;
  height: 30px;
  width: 30px;
  margin-right: 4px;
  border: 1px solid #b3b3b3;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
}

.unread {
  font-weight: bold;
  color: black;  
}

.selected .unread {
  color: white;
}

.info {
  float: right;
  margin-left: 1em;
}

.unreadCount {
  color: white;
  background-color: #99bb00;

  /* Make a bubble. Leading is 16px, so 8px border radius is a bubble. */
  padding: 0 0.5em;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; 
}


/**************************** Splitter *********************************/
.splitpanel-horizontal { 
  float:left; 
}

.splitpanel-vertical { 
}

.splitbar-horizontal { 
  background-color: #000000; 
  width:100%; 
  height:5px; 
  cursor:n-resize; 
}
  
.splitbar-vertical { 
  background-color: #000000; 
  width:5px; 
  height:100%; 
  float:left; 
  cursor:e-resize; 
}

/*************************** Text Selection **************************/
.disable-selection {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/**************************** fix for x-dropdown in nav ***************************/
.navbar .nav > [is=x-dropdown] {
  float: left;
}

[is=x-dropdown] a.dropdown-toggle {
  display: block;
  float: none;
  padding: 10px 15px 10px;
  color: #777;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

/* instead of .navbar .nav li.dropdown > .dropdown-toggle .caret */
.navbar .nav > [is=x-dropdown] .dropdown-toggle .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}

/* instead of .navbar .nav > li > .dropdown-menu:before */
.navbar .nav > [is=x-dropdown] > div > .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

/* instead of .navbar .nav > li > .dropdown-menu:after */
.navbar .nav > [is=x-dropdown] > div > .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

/* instead of .pull-right > .dropdown-menu */
.pull-right > * > .dropdown-menu {
  right: 0;
  left: auto;
}

/* instead of .navbar .pull-right > li > .dropdown-menu */
.navbar .pull-right > [is=x-dropdown] > div > .dropdown-menu {
  right: 0;
  left: auto;
}

/* instead of .navbar .pull-right > li > .dropdown-menu:before */
.navbar .pull-right > [is=x-dropdown] > div > .dropdown-menu:before {
  right: 12px;
  left: auto;
}

/* .navbar .pull-right > li > .dropdown-menu:after */
.navbar .pull-right > [is=x-dropdown] > div > .dropdown-menu:after {
  right: 13px;
  left: auto;
}