html, body {
  overflow: hidden;
}

/*************************** Text Selection **************************/
.disable-selection {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}

/*************************** Drag and Drop **************************/
.dnd-placeholder {
  border: 2px dashed #b3b3b3;
}

.dnd-dragging {
  opacity: 0.5;
}